body {
    background-color: #f0f8ff; /* 背景色はaliceblue */
  }
  h1 {
    color: #228b22; /* 見出しはforestgreen */
    text-align: center;
  }
  p {
    color: #ffffff; /* 段落はwhite */
    background-color: #32cd32; /* 段落の背景色はlimegreen */
    font-family: Arial;
    padding: 10px;
    text-align: center;
  }