<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEGITRO</title>
    <!---FontAwesomeのCDN--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!---リセットスタイルCSSのCDN--->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/negi.css') }}">
</head>
<body>
    <header class="header">
        <h1 class="app-title"><a href="/">NEGITRO</a></h1>
        <p>これからの金融職員のためのコミュニティ</p>
        <p>Twitterから世界を変える</p>
        <div class="member-menu">
             <a href="/add" class="menu-link">苗を追加する</a>
             <a href="/logout" class="menu-link">畑から出る</a>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="member-bottom">
        <div class="member-bottom-menu">
            <a href="/add" class="menu-link">苗を追加する</a>
            <a href="/logout" class="menu-link">畑から出る</a>
            <a href="/q_a" class="menu-link">お悩み相談</a>
            <a href="/recommend_banker" class="menu-link">オススメ金融垢</a>
        </div>
</footer>
</body>
</html>